.BlogDetail {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.BlogDetail a {
    cursor: pointer;
}

.BlogDetail a:hover {
    color: #fa923f;
}
